html{
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-right: 40px;
}

h1{
    font-family: 'Big Shoulders Text', cursive;
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    color: black;
}


h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: red;
    font-style: normal;
}

br{
    font-family: 'Raleway', sans-serif;
    font-weight: revert;
    color: black;
}

